/src/busybox/*
/src/proxychains-ng/*
/src/uClibc/*
/src/libuv/*
/src/libwebsockets/*
/src/libwebsockets-plugins/*
/src/home/yi-hack-v3/etc/lwsws/plugins/*
/src/home/yi-hack-v3/.hackinfo
/build/*
!/src/busybox/.config
!/src/proccgi/Makefile
!/src/proxychains-ng/config.mak
!/src/uClibc/.config
!/src/libwebsockets/*.patch
!/src/libwebsockets-plugins/Makefile
!/src/libwebsockets-plugins/*.c
