/src/busybox/*
/src/proxychains-ng/*
/src/uClibc/*
/src/libuv/*
/src/libwebsockets/*
/src/libwebsockets-plugins/*
/src/home/yi-hack-v3/etc/lwsws/plugins/*
/src/home/yi-hack-v3/.hackinfo
/build/*
!/src/busybox/.config.hi3518
!/src/busybox/.config.hi3518ev200
!/src/proxychains-ng/config.mak.hi3518
!/src/proxychains-ng/config.mak.hi3518ev200
!/src/uClibc/.config.hi3518
!/src/uClibc/.config.hi3518ev200
!/src/libwebsockets/*.patch.hi3518
!/src/libwebsockets/*.patch.hi3518ev200
!/src/libwebsockets-plugins/Makefile.hi3518
!/src/libwebsockets-plugins/Makefile.hi3518ev200
!/src/libwebsockets-plugins/*.c
