body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

html, body, form, .container {
  height: 90%;
}

#PROXYCHAINSNG_config {
  height: 100%;
}

#PROXYCHAINSNG_log {
  height: 20%;
}

.button-wrapper .btn {
  margin-bottom:5px;
}